@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Quicksand", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  color: whitesmoke;
}

a {
  color: darkolivegreen;
  text-decoration: none;
}

nav {
  padding: 50px;
  background-color: #00aef0;
}

nav ul {
  list-style-type: none;
  float: right;
}

nav ul li {
  float: left;
}

nav ul li a {
  color: whitesmoke;
  padding: 0 30px;
}

/* nav ul li a:hover {
  color: #003366;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #003366;
} */

.aa:hover {
  border: 0.1em solid #b2ebf2;
  border-radius: 1.5em;
  padding: 0.3rem;
  margin-left: -0.8em;
  transition: ease-out 0.1s;
}

#logo img {
  width: 100px;
  height: auto;
}

.container {
  text-align: left;
  width: 60%;
  margin: 120px auto;
  color: whitesmoke;
}

.container h1 {
  font-size: 3.5em;
}

.container h2 {
  font-size: 3em;
}

.container h3 {
  font-size: 1.5em;
}

.container p {
  font-size: 1.3em;
  line-height: 1.4em;
}

button {
  display: inline-block;
  padding: 0.8em 1.5em;
  border: 0.1em solid #b2ebf2;
  border-radius: 1em;
  margin: 0 0.2em 0.2em 0;
  background-color: #00aef0;
  color: #fff;
  font-weight: 100;
}

button:hover {
  border: 0.1em solid #ff5722;
  background-color: #ff5722;
  transition: ease-in 0.3s;
}

.home-about {
  background-color: #fff;
  min-height: 200px;
  /* margin: 110px auto; */
}
.home-about p {
  width: 60%;
  margin: 110px auto;
  padding: 20px;
  text-align: center;
  font-size: 1.3em;
  line-height: 1.4em;
  color: #00aef0;
}

footer {
  height: 55px;
  background-color: #ff5722;
  text-align: center;
  color: whitesmoke;
  padding: 10px 50px;
}

.left {
  float: left;
  padding-top: 2px;
}

.right {
  float: right;
}

.right ul {
  list-style-type: none;
  float: right;
}

.right ul li {
  float: left;
  padding: 0 10px;
}

.project-page h1,
.project-page p {
  color: #00aef0;
  text-align: center;
}

.card h3,
.card p {
  color: #00aef0;
  text-align: left;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%;
  margin-bottom: 10px;
  margin-top: 10px;
  height: 480px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
}

.description {
  padding: 2px 16px;
}

.grid {
  display: grid;
  grid-template-columns: 400px 400px;
  grid-gap: 2px;
  background-color: #fff;
  color: #444;
}

#svg {
  /* width: 220px;
  height: 300px;
  border: 1px solid black; */
  display: flex;
  align-items: center;
}

.single-svg {
  width: 80px;
  flex: 1;
  padding: 1.1em;
}

.break {
  flex-basis: 100%;
  width: 0;
}

/* Form */

form {
  margin-right: auto;
  margin-left: auto;
  max-width: 320px;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;

  margin-top: 24px;
}

label {
  margin-bottom: 8px;
  display: block;
  color: #00aef0;
}

input:not([type="checkbox"]):not([type="radio"]),
select,
textarea {
  padding: 8px;
  width: 100%;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #bdc3c7;
  border-left: 0;
  transition: border-bottom-color 0.15s ease-in;

  border-bottom-color: #00aef0;
}

input[type="checkbox"],
input[type="radio"] {
  margin-right: 8px;
}

textarea {
  resize: vertical;
}

.scroll-button {
  position: "fixed";
  bottom: 50;
  right: 30;
  cursor: "pointer";
  color: #ff5722;
  font-size: 2em;
  transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  transition-timing-function: linear;
  transition-duration: 0.2s;
}
